<template>
    <v-container fill-height>
        <v-card class="mx-auto" width="350">
            <v-form method="post" action="/accounts/login/">
                <v-card-title class="title font-weight-regular justify-space-between">
                    <span>Авторизация</span>
                </v-card-title>
                <v-card-text>
                    <v-text-field label="Логин" v-model="userlogin" placeholder="User"></v-text-field>
                    <v-text-field label="Пароль" v-model='pass' type="password" name="password"></v-text-field>
                    <v-alert type="error" :value="errors.length">
                        <div v-for="error in errors" v-html="error"/>
                    </v-alert>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="info" @click="checkAuth">Авторизоваться</v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
    </v-container>
</template>
<script>
import _ from "lodash";
export default {
  data() {
    return {
      userlogin: "",
      pass: "",
      errors: []
    };
  },
  computed: {
    user: function() {
      return this.$store.getters.user;
    },
    users: function() {
      return this.$store.getters.users;
    }
  },
  watch: {
    user: function(user) {
      if (user !== false) {
        this.$router.push({ name: "home" });
      }
    }
  },
  methods: {
    checkAuth() {
      let user = _.find(this.users, {
        login: this.userlogin,
        pass: this.pass
      });
      this.errors = [];
      if (user) {
        this.$store.commit("authUser", user);
      } else {
        this.errors = ["Пользователь не найден!", "Попробуйте admin , 1234"];
      }
    }
  }
};
</script>
