<template>
    <v-card>
        <v-card-title primary-title class='blue white--text'>
            Пользователи
        </v-card-title>
        <v-card-text>
            <v-form
                ref="form"
                v-model="valid"
            >
                <v-container grid-list-md fluid>
                    <v-layout>
                        <v-flex xs12>
                            <v-text-field
                                label="Фамилия"
                                placeholder="Фамилия"
                                v-model="userData.last_name"
                                :rules="rules.name"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex xs12 md6>
                            <v-text-field
                                label="Имя"
                                v-model="userData.first_name"
                                placeholder="Имя"
                                :rules="rules.name"
                            ></v-text-field>
                        </v-flex >
                        <v-flex xs12 md6>
                            <v-text-field
                                label="Отчество"
                                v-model="userData.second_name"
                                placeholder="Отчество"
                                :rules="rules.name"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex md4 xs12>
                            <date-picker-menu
                                label="Дата рождения"
                                v-model="userData.birth_date"
                                :rules='rules.required'
                                placeholder="Дата рождения"
                            ></date-picker-menu>
                        </v-flex>
                        <v-flex md4 xs12>
                            <v-text-field
                                label="Должность"
                                v-model="userData.position"
                                placeholder="Должность"
                            ></v-text-field>
                        </v-flex>
                        <v-flex md4 xs12>
                            <v-text-field
                                label="Подразделение"
                                v-model="userData.subdivision"
                                placeholder="Подразделение"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>    
                        <v-flex md6 xs12>
                            <v-text-field
                                label="Телефон"
                                :rules='rules.required'
                                v-model="userData.phone"
                                mask="(###) ### - ####"
                                placeholder="Телефон"
                            ></v-text-field>
                        </v-flex>
                        <v-flex md6 xs12>
                            <v-text-field
                                label="EMail"
                                v-model="userData.email"
                                placeholder="EMail"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>   
                        <v-flex xs12>
                            <v-text-field
                                type="password"
                                label="Пароль"
                                v-model="userData.pass"
                                :rules='rules.pass'
                                placeholder="Пароль"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-form>
        </v-card-text>
        <v-divider/>
        <v-card-actions>
            <v-btn color='success' @click="saveData">
                Сохранить
            </v-btn>
            <v-btn color='error' @click="cancel">
                Отмена
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
import { uuidv4 } from "../utils.js";
import DatePickerMenu from "../components/DatePickerMenu.vue";
export default {
  components: { DatePickerMenu },
  data() {
    return {
      valid: false,
      userData: {
        id: uuidv4(),
        first_name: "",
        second_name: "",
        last_name: "",
        birth_date: "",
        position: "",
        subdivision: "",
        phone: "",
        email: "",
        pass: ""
      },
      rules: {
        name: [
          v => !!v || "Это поле обязательно!",
          v => (v && v.length <= 50) || "Должно быть короче 50 символов!"
        ],
        pass: [
          v => !!v || "Это поле обязательно!",
          v => (v && v.length >= 6) || "Должно быть длинне 6 символов!"
        ],
        required: [v => !!v || "Это поле обязательно!"]
      }
    };
  },
  watch: {
    $route: {
      handler: "fetchData",
      immediate: true
    }
  },
  methods: {
    saveData() {
      this.$refs.form.validate();
      if (this.valid) {
        if (this.$route.params["id"]) {
          this.$store.commit("editUser", this.userData);
        } else {
          this.$store.commit("addNewUser", this.userData);
        }
        this.$router.push({ name: "users.list" });
      }
    },
    cancel() {
      this.$router.push({ name: "users.list" });
    },

    fetchData: function() {
      if (this.$route.params["id"]) {
        this.userData = this.$store.getters.userById(this.$route.params["id"]);
      }
    }
  }
};
</script>
