<template>
    <v-container fluid>
        <v-toolbar flat color="blue" dark>
            <v-toolbar-title >
                Администрирование
            </v-toolbar-title>
            <v-divider
                class="mx-2"
                inset
                vertical
            />
            <v-spacer />

            <v-btn 
                color="success" 
                class="mb-2"
                @click='addNew'
            >
                Добавить
                <v-icon 
                right 
                dark
                >add</v-icon>
            </v-btn>
        </v-toolbar>
        <v-data-table
            :headers="headers"
            :items="items"
            class="elevation-1"
            hide-actions
        >
            <template slot="items" slot-scope="props">
                <td>{{ props.item.last_name }}</td>
                <td>{{ props.item.first_name }}</td>
                <td>{{ props.item.second_name }}</td>
                <td class="text-xs-right " >
                    <v-icon
                    small
                    class="mr-2"
                    @click="editItem(props.item.id)"
                    color='success'
                    >
                    edit
                    </v-icon>
                    <v-icon
                    small
                    @click="deleteItem(props.item.id)"
                    color='error'
                    >
                    delete
                    </v-icon>
                </td>
            </template>
        </v-data-table>


    </v-container> 
</template>

<script>
export default {
  data() {
    return {
      headers: [
        {
          text: "Фамилия",
          value: "last_name"
        },
        {
          text: "Имя",
          value: "first_name"
        },
        {
          text: "Отчество",
          value: "second_name"
        },
        {
          text: "Действия",
          align: "right",
          sortable: false
        }
      ]
    };
  },

  computed: {
    items() {
      return this.$store.getters.usersList;
    }
  },
  methods: {
    addNew() {
      this.$router.push({ name: "users.add" });
    },
    editItem(id) {
      this.$router.push({ name: "users.edit", params: { id: id } });
    },
    deleteItem(id) {
        this.$store.commit('deleteUser', id);
    }
  }
};
</script>
