<template lang="html">
  <v-menu
    ref="menu"
    :close-on-content-click="false"
    v-model="menu"
    :nudge-right="40"

    lazy
    transition="scale-transition"
    offset-y
    full-width
    min-width="290px"
  >

    <v-text-field
      slot="activator"
      v-model="date"
      :label="label"
      :error='error'
      :error-messages='errorMessages'
      :rules='rules'
      prepend-icon="event"
      readonly
    />
    <v-date-picker 
      v-model="date" 
      no-title 
      scrollable 
      :locale="locale"
    >
      <v-spacer />
      <v-btn 
        flat 
        color="primary" 
        @click="cancelChange"
      >Отмена</v-btn>
      <v-btn 
        flat 
        color="primary" 
        @click="changeDate"
      >OK</v-btn>
    </v-date-picker>
  </v-menu>
</template>

<script>
var { DateTime } = require("luxon");

export default {
  props: {
    error: {
      type: Boolean,
      default: false
    },
    errorMessages: {
      type: Array,
      default: () => {
        [];
      }
    },
    locale: {
      type: String,
      default: "ru-ru"
    },
    value: {
      type: [Object, String],
      default: DateTime.local().toISODate()
    },
    min: {
      type: String,
      default: undefined
    },
    max: {
      type: String,
      default: undefined
    },
    rules: {
      type: Array,
      default: () => {
        [];
      }
    },
    label: {
      type: String,
      default: "Datepicker"
    }
  },
  data: function() {
    return {
      date: false,
      menu: false
    };
  },
  mounted: function() {
    if (!this.value) {
      this.date = "";
    } else {
      this.date =
        typeof this.value == "string" ? this.value : this.value.toISODate();
    }
  },
  methods: {
    changeDate: function() {
      if (typeof this.value == "string" || !this.value) {
        this.$emit("input", this.date);
      } else {
        this.$emit("input", DateTime.fromISO(this.date));
      }
      this.menu = false;
    },
    cancelChange: function() {
      if (typeof this.value == "string") {
        this.date = this.value;
      } else {
        this.date = this.value.toISODate();
      }
      this.menu = false;
    }
  }
};
</script>
