<template>
  <v-app>
    <v-navigation-drawer
    clipped
    fixed
    v-model="drawer"
    app
    >
      <v-list dense class="pt-0">
        <v-list-tile exact :to="{ name: 'home'}">
          <v-list-tile-action>
            <v-icon>dashboard</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Главная</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="{ name: 'users.list'}">
          <v-list-tile-action>
            <v-icon>settings</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Администрирование</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar app color='blue' dark>
      <v-toolbar-title class="text-uppercase">
        <span>Vuejs test assignment</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <template v-if='user'>
        <span v-html="user.login"></span>
        <v-btn
        flat
        @click="logOut"
        >
          <v-icon>exit_to_app</v-icon>
        </v-btn>
      </template>
    </v-toolbar>

    <v-content>
      <v-container fluid>
        <router-view/>
      </v-container>
    </v-content>

    <v-footer
      height="auto"
      color="primary lighten-1"
    >
      <v-flex
        primary
        lighten-2
        py-3
        text-xs-center
        white--text
        xs12
      >
        &copy;2018 — <strong>Vue</strong>
      </v-flex>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      in_drawer: true
    };
  },
  computed: {
    drawer: {
      set(val) {
        this.in_drawer = val;
      },
      get() {
        return this.in_drawer && this.user !== false;
      }
    },
    user() {
      return this.$store.getters.user;
    }
  },
  watch: {
    user: {
      immediate: true,
      handler: function(userdata) {
        if (userdata === false) {
          this.$router.push({ name: "login" });
        } else {
          this.in_drawer = true;
        }
      }
    }
  },
  methods: {
    logOut: function() {
      this.$store.commit("logOut");
    }
  }
};
</script>
